@import '../../theme/colors.css';

.button {
    padding: 16px 20px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.primary {
    border: none;
    background-color: var(--red1);
    margin-right: 12px;
    color: var(--white);
    text-decoration: none;

    &:hover {
        background-color: var(--red-hover);
    }
}
