@import '../../theme/colors.css';
@import '../../theme/media.css';

.item {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    label {
        line-height: 36px;
        color: #394051;
    }

    &:last-of-type {
        margin-bottom: 24px;
    }
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid var(--dark-grey);

    &::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }
}

.error {
    position: absolute;
    left: 0;
    bottom: -16px;
    font-size: 12px;
    color: var(--red2);
}
