@import '../../theme/colors.css';
@import '../../theme/media.css';

.wrapper {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (--media-mobile-and-web) {
        justify-content: center;
    }
}

.form-wrapper {
    position: relative;
    margin-left: 165px;
    width: 308px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (--media-mobile-and-web) {
        margin-left: 0;
    }
}

.logo {
    position: absolute;
    top: 60px;
    left: 0;
    width: 95px;
    height: 38px;
    display: inline-block;
}

.background {
    width: 895px;
    height: 800px;

    img {
        width: 100%;
        height: 100%;
    }

    @media (--media-mobile-and-web) {
        display: none;
    }
}
