@import '../../theme/colors.css';
@import '../../theme/media.css';

.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: var(--black1);
    margin-top: 0;
    margin-bottom: 30px;
}

.item {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    label {
        line-height: 36px;
        color: #394051;
    }
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid var(--dark-grey);

    &::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }
}

.error {
    position: absolute;
    left: 0;
    bottom: -16px;
    font-size: 12px;
    color: var(--red2);
}
