:root {
    --red1: #CC1C17;
    --red2: #E7271B;
    --red-hover: #AA1914;

    --black: #000000;
    --black1: #414152;
    --dark-grey: #D9D9D9;

    --white: #FFFFFF;
    --white-hover: #D1D1D1;
}
