@import 'normalize.css';

@font-face {
    font-family: 'Geometria';
    src: url('../assets/fonts/Geometria.eot');
    src: local('Geometria'),
    url('../assets/fonts/Geometria.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Geometria.woff') format('woff'),
    url('../assets/fonts/Geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../assets/fonts/Geometria-Bold.eot');
    src: local('Geometria Bold'), local('Geometria-Bold'),
    url('../assets/fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Geometria-Bold.woff') format('woff'),
    url('../assets/fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Geometria', sans-serif;
}
