@import '../../theme/colors.css';

.button {
    padding: 16px 20px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.link {
    display: inline-block;
    border: 1px solid var(--red1);
    color: var(--red2);
    text-decoration: none;
    padding: 15px 20px;

    &:hover {
        text-decoration: underline;
    }
}
